#style{
    font-style: italic;
}
#variant{
    font-variant: small-caps;
}
#weight{
    font-weight: bold;
}
#size{
    font-size: larger;
}
#family{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#font{
    font: xx-small;
}
#overline{
    text-decoration: overline;
}
#linet{
    text-decoration: line-through;
}
#underline{
    text-decoration: underline;
}
#under{
    text-decoration: underline overline;
}
#upper{
    text-transform: uppercase;
}
#lower{
    text-transform: lowercase;
}
#capitalize{
    text-transform: capitalize;
}
#lh{
    line-height: 3%;
}
#ls{
    letter-spacing: 3px;
}
#ws{
    word-spacing: 10px;
}
#te{
    text-align: center;
}
#base{
    vertical-align: baseline;
}
#tt{
    vertical-align: text-top;
}
#sup{
    vertical-align: super;
}
#tb{
    vertical-align: text-bottom;
}
#sub{
    vertical-align: sub;
}
#ti{
    text-indent: 120px;
}